@import "~bulma/sass/utilities/_all";

$primary: $turquoise;
$info: $cyan;
$link: $blue;
$link-invert: $blue-invert;

$card-header-background-color: transparent;
$card-content-background-color: transparent;
$card-footer-background-color: transparent;

$mist: hsl(210, 100%, 99%);