@import "~bulma/sass/utilities/initial-variables";

$primary: $turquoise;
$info: $cyan;

$card-header-background-color: transparent;
$card-content-background-color: transparent;
$card-footer-background-color: transparent;

$mist: hsl(210, 100%, 99%);