service cloud.firestore {
  match /databases/{database}/documents {
    match /{messages=**} {
      allow read, write;
    }

    match /{notifications=**} {
    	allow read, write;
    }

    match /{sponsors=**} {
    	allow read, write;
    }

    match /{pharmacies=**} {
    	allow read, write;
    }

    match /{topics=**} {
    	allow read, write;
    }

    match /{users=**} {
    	allow read, write;
    }
  }
}